<!DOCTYPE html>
<html>
<head>
	{% include head_common.html %}
	<title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.description }}</title>
</head>
<body>

	<div class="container">
		<!-- 导航 -->
		<div class="span6">
			<ul class="nav nav-pills">
				<li class="active"><a>Lukachun's Blog</a></li>
				<li><a href="{{site.baseurl}}/">>> Home</a></li>
				<li><a>>> Archives</a></li>
			</ul>
		</div>
		
		<div class="row">
			<div class="span8">
				<!-- 标题 -->
				<h1 class="span8 offset2">{{page.title}}</h1>
				<!-- 正文 -->
				<div class="span8 offset1">
					{{ content }}
				</div>
			    <div class="well">
				</div>
				<!-- 评论 -->
				{% include comments.html %}
			</div>
			<div class="span3">
				<!-- 日期 -->
				<div class="span2 offset1">
					{{ page.date | date: "%Y-%m-%d" }}
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>